<div class="d-flex flex-shrink-0 align-items-center p-3 border-bottom">
    <div class="flex-grow-1 text-center">
        <button mat-icon-button (click)="transformUpdate('scale', 0.5)" [disabled]="!file">
            <mat-icon fontSet="fas" fontIcon="fa-plus"></mat-icon>
        </button>
        <button mat-icon-button (click)="transformUpdate('scale', -0.5)" [disabled]="!file || !(imageTransform?.scale > 1)">
            <mat-icon fontSet="fas" fontIcon="fa-minus"></mat-icon>
        </button>
        <button mat-icon-button (click)="transformUpdate('rotate', 10)" [disabled]="!file">
            <mat-icon fontSet="fas" fontIcon="fa-redo"></mat-icon>
        </button>
        <button mat-icon-button (click)="transformUpdate('rotate', -10)" [disabled]="!file">
            <mat-icon fontSet="fas" fontIcon="fa-undo"></mat-icon>
        </button>
    </div>

    <button class="flex-shrink-0 me-2" mat-icon-button *ngIf="file" [title]="'general.remove' | viTranslate" (click)="uploader.removeAll()">
        <span class="fas fa-brush"></span>
    </button>

    <button class="flex-shrink-0" mat-raised-button color="primary" [disabled]="!imageBase64" (click)="submit()">
        <span [vi-translate]="'general.save'"></span>
    </button>
</div>

<div class="d-flex flex-grow-1 align-items-stretch scroll-auto p-3">
    <div
        class="d-flex flex-column flex-grow-1 align-items-center justify-content-center rounded border dashed"
        *ngIf="!file"
        [vi-file-drop]="uploader"
        className="background-body"
    >
        <p class="text-primary text-center mouse-disabled mat-subtitle-2 mb-3" [vi-translate]="fileDropLabel"></p>
        <file-select-button class="flex-shrink-0 mouse-active" [label]="fileSelectLabel | viTranslate" [uploader]="uploader"></file-select-button>
    </div>

    <image-cropper
        class="flex-grow-1 rounded dashed border p-0"
        *ngIf="file"
        output="base64"
        [format]="format"
        [imageFile]="file?.file._file"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        [transform]="imageTransform"
        (imageCropped)="imageCropped($event)"
    ></image-cropper>
</div>
